.home{
    background-color:#323437;
    color: aliceblue;
    font-size: 35px;
    text-align: center;
    padding: 260px;
    width:100vw;
    height:91.45vh;
}

.text1{
    color: #e2b714;
    font-size: 25px;
    margin-top: 30px;
}

